:root{
  --black: #000000;
  --white: #ffffff;
  --lightblue: #8EA3EA;
  --buttoncolor: #579E00;
  --hovercolor: #9EEB3F;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Stykket her, har vi fundet på google fonts: https://fonts.google.com/specimen/Roboto?query=roboto */

body{
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
.navbar{
  display: grid;
  grid-template-areas: 
  "logo button"
  "tagline tagline";
  grid-gap: 0px;
  background-color: var(--lightblue);
  padding: 5%;
}
.logo{
  color: var(--white);
  font-size: 35x;
  margin-top: 10%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.tagline{
  color: var(--white);
  font-size: 16px;
  margin-top: 0%;
}
.button {
  font-size: 12px;
  text-align: center;
  background-color: var(--buttoncolor);
  color: var(--white);
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 21px;
  padding-right: 21px;
  border-radius: 50px;
  margin-bottom: 10%;
  margin-top: 20%;
  white-space: nowrap;
}

.button:hover {
color: var(--white);
background-color: var(--hovercolor);
}
.headline{
  text-align: center;
  font-variant: small-caps;
}
/*Dette stykke med video-container har vi fået hjælp til af ChatGPT, som vi skrev til om hvordan man stylede en iframe til iPhone 12*/
.video-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /*Denne procent er også fundet fra ChatGPT, men den gør at vi får den rigtige aspect ratio for 16:9. 
  Regnestykket kan også fotælles således= padding-bottom = (højde / bredde) * 100% | padding-bottom = (9 / 16) * 100% = 56.25%*/
}

.video-container iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
/*Første sektion*/
.bluebox.one{
    text-align: center;
    color: var(--white);
    margin-top: 0%;
    padding-top: 2.0625rem;
    padding-bottom: 2.0625rem;
    font-size: 25px;
    background-color: var(--lightblue);
}
.ittakes{
  text-align: center;
  font-size: 23px;
  margin-top: 10%;
  margin-left: 68px;
  margin-right: 68px;
}
.firstp{
  text-align: center;
  font-size: 18px;
  margin-left: 68px;
  margin-right: 68px;
}
/*Læs mere knap*/
.readmore{
  display: block;
  font-size: 12px;
  text-align: center;
  background-color: var(--buttoncolor);
  color: var(--white);
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 21px;
  padding-right: 21px;
  border-radius: 50px;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 20%;
} 
.readmore:hover{
  color: var(--white);
  background-color: var(--hovercolor);
}
/*Anden sektion*/
.orangebox.one{
    text-align: center;
    color: var(--white);
    margin-top: 0%;
    padding-top: 2.0625rem;
    padding-bottom: 2.0625rem;
    font-size: 25px;
    background-color: var(--lightblue);
}
.secondp{
  text-align: center;
  font-size: 18px;
  margin-left: 68px;
  margin-right: 68px;
}
/*Tredje sektion*/
.bluebox.two{
  text-align: center;
  color: var(--white);
  margin-top: 0%;
  padding-top: 2.0625rem;
  padding-bottom: 2.0625rem;
  font-size: 40px;
  background-color: var(--lightblue);
}
.thirdp{
  text-align: center;
  font-size: 18px;
  margin-left: 68px;
  margin-right: 68px;
}
/*Fjerde sektion*/
.orangebox.two{
  text-align: center;
  color: var(--white);
  margin-top: 0%;
  padding-top: 2.0625rem;
  padding-bottom: 2.0625rem;
  font-size: 25px;
  background-color: var(--lightblue);
}
.fourthp{
  text-align: center;
  font-size: 18px;
  margin-left: 68px;
  margin-right: 68px;
}
/*Femte sektion*/
.bluebox.three{
  text-align: center;
  color: var(--white);
  margin-top: 0%;
  padding-top: 2.0625rem;
  padding-bottom: 2.0625rem;
  font-size: 25px;
  background-color: var(--lightblue);  
}
.fifthp{
  text-align: center;
  font-size: 18px;
  margin-left: 68px;
  margin-right: 68px;
}

/*Dette stykke er for footeren*/
footer{
  background-color: var(--lightblue);
  padding: 5%;
}
.footerhead{
  color: var(--white);
  font-size: 25px;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap: 5px;
}
.footertagline{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: var(--white);
  margin: 0%;
}
.footerVAT{
  text-align: left;
  color: var(--white);
}
.footerTerms{
  text-align: left;
  color: var(--white);
}
.mail{
  text-align: left;
  color: var(--white);
}
.phonenr{
  text-align: left;
  color: var(--white);
}
.address{
  text-align: left;
  color: var(--white);
}
.footerinfo{
  font-weight: bold;
  font-size: 16px;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 6%;
}

/*Herfra starter media query til computerskærme*/
@media only screen and (min-width: 768px) {
  .navbar{
    display: grid;
    grid-template-areas: 
    "logo button"
    "tagline tagline";
    grid-gap: 0px;
    background-color: var(--lightblue);
    padding: 2.5%;
  }
  .logo{
    color: var(--white);
    font-size: 70px;
  }
  .tagline{
    color: var(--white);
    font-size: 32px;
    margin-top: 0%; 
  }
  .button {
    font-size: 25px;
    display: inline-block;
    text-align: center;
    align-self: center;
    background-color: var(--buttoncolor);
    color: var(--white);
    text-decoration: none;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 33px;
    padding-right: 33px;
    border-radius: 50px;
  }
  .button:hover {
    color: var(--white);
    background-color: var(--hovercolor);
  }
/*Første sektion*/
  .bluebox.one{
      text-align: center;
      color: var(--white);
      margin-top: 0%;
      padding-top: 117px;
      padding-bottom: 117px;
      padding-left: 311px;
      padding-right: 311px;
      font-size: 3rem;
      background-color: var(--lightblue);
      box-shadow: 0px 20px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .savetime{
    text-align: center;
    font-size: 2.8rem;
    margin-top: -5px;
  }
  .ittakes{
    text-align: center;
    font-size: 2.5rem;
    margin-top: -30px;
    margin-left: 68px;
    margin-right: 68px;
  }
  .firstp{
    text-align: center;
    font-size: 2.3rem;
    margin-left: 68px;
    margin-right: 68px;
    margin-bottom: 228px;
  }
/*Anden sektion*/
  .orangebox.one{
    text-align: center;
    color: var(--white);
    margin-top: 0%;
    padding-top: 117px;
    padding-bottom: 117px;
    padding-left: 311px;
    padding-right: 311px;
    font-size: 3rem;
    background-color: var(--lightblue);
    box-shadow: 0px 20px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .secondp{
    text-align: center;
    font-size: 2.3rem;
    margin-left: 68px;
    margin-right: 68px;
    margin-top: 200px;
    margin-bottom: 282px;
  }
/*Tredje sektion*/
  .bluebox.two{
    text-align: center;
    color: var(--white);
    margin-top: 0%;
    padding-top: 117px;
    padding-bottom: 117px;
    padding-left: 311px;
    padding-right: 311px;
    font-size: 3rem;
    background-color: var(--lightblue);
    box-shadow: 0px 20px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .thirdp{
    text-align: center;
    font-size: 2.3rem;
    margin-left: 68px;
    margin-right: 68px;
    margin-top: 200px;
    margin-bottom: 282px;
  }
/*Fjerde sektion*/
  .orangebox.two{
    text-align: center;
    color: var(--white);
    margin-top: 0%;
    padding-top: 117px;
    padding-bottom: 117px;
    padding-left: 311px;
    padding-right: 311px;
    font-size: 3rem;
    background-color: var(--lightblue);
    box-shadow: 0px 20px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .fourthp{
    text-align: center;
    font-size: 2.3rem;
    margin-left: 68px;
    margin-right: 68px;
    margin-top: 200px;
    margin-bottom: 282px;
  }
/*Femte sektion*/
  .bluebox.three{
    text-align: center;
    color: var(--white);
    margin-top: 0%;
    padding-top: 117px;
    padding-bottom: 117px;
    padding-left: 311px;
    padding-right: 311px;
    font-size: 3rem;
    background-color: var(--lightblue);
    box-shadow: 0px 20px 16px 0px rgba(0, 0, 0, 0.2);  
  }
  .fifthp{
    text-align: center;
    font-size: 2.3rem;
    margin-left: 68px;
    margin-right: 68px;
    margin-top: 200px;
    margin-bottom: 282px;
  }
  
/*Dette stykke med video-container har vi fået hjælp til af ChatGPT, som vi skrev til om hvordan man stylede en iframe til iPhone 12*/
  .video-container{
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /*Dette stykke er for footeren*/
  footer{
    background-color: var(--lightblue);
    padding: 5%;
  }
  .grid-container{
    display: grid;
    grid-template-areas: 
    "footerhead mail"
    "foorertagline phonenr"
    "footerVAT footerTerms";
    grid-gap: 10px;
  }
  .footerhead{
    font-size: 3rem;
    margin-top: 32px;
    margin-bottom: 0%;
  }
  .footertagline{
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    color: var(--white);
    margin-top: 0%;
  }
  .footerVAT{
    text-align: left;
    color: var(--white);
  }
  .footerTerms{
    text-align: left;
    color: var(--white);
  }
  .mail{
    text-align: left;
    color: var(--white);
    margin-top: 32px;
  }
  .phonenr{
    text-align: left;
    color: var(--white);
  }
  .address{
    text-align: left;
    color: var(--white);
  }
  .footerinfo{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 4%;
    margin-left: 0%;
  }

}